<html>
    <head>
        <title>profile</title>
        <link rel="stylesheet" href="dropdown.css">
    <body>
        <nav>
            <img src= "  c:\Users\jaffe\OneDrive\Pictures\Screenshots\Screenshot 2024-02-23 135557.png" class="main"></img>
        </nav>
        </nav>
        <nav>
            <img src= "c:\Users\jaffe\Downloads\project1.webp" class="new"></img>
        </nav>
        <div class="rect1">
            <div class="navbar">
               
                <div class="profile-icon">
                  
                </div>
              </div>
            </body>
            
        
        </div>