<html>
    <head>
        <title>savefood</title>
        <link rel="stylesheet" href="/css1/savefood.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <body>
        <nav>
            <img src= " /bg.jpg" class="main"></img>
        </nav>
        </nav>
        <nav>
            <img src= "/foodpic.jpg" class="new"></img>
        </nav>
        <div class="rect1">
            <div class="container">
                <h2>Save Food</h2>
                <form class="save-food-form" action="#" method="" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="before-image">Upload Image 1 (Before Taking Food):</label>
                        <label for="before-image" class="upload-btn"><i class="fas fa-cloud-upload-alt"></i></label>
                        <input type="file" id="before-image" name="before-image" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <label for="after-image">Upload Image 2 (After Taking Food):</label>
                        <label for="after-image" class="upload-btn"><i class="fas fa-cloud-upload-alt"></i></label>
                        <input type="file" id="after-image" name="after-image" accept="image/*" required>
                    </div>
                    <button type="submit">submit</button>
                </form>
            </div>
        </body>
        </html>

            
        </div>