body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    nav {
        background-color: #333;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .user-links{
        width: 45vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #a3d0ff;
        margin-right: 50px;
    }
    .action-links{
        width: 45vw;
        height: 80vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #a3d0ff;
    }
    nav h1 {
        margin: 0;
    }
    .user-info {
        padding-right: 20px;
    }
    main {
        padding: 20px;
    }
    a{
        text-decoration: none;
        
    }
    .links{
        width: auto;
        height: auto;
    }
    .link{
        width: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height:auto;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
    }
    .link:hover {
        background-color: #0056b3;
    }
    main{
        display: flex;
        width: auto;
        height: auto;
    }