*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}
 .new{
            height:90%;
            position: absolute;
            bottom:10;
            right: 160px;
          }
    
.main{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    @media (min-aspect-ratio:16/9){
        .main{
            width: 100%;
            height: auto;
    
        }
    }
    @media (max-aspect-ratio:16/9){
        .main{
            width: auto;
            height:50%;
        }
    }
    .rect1{
        position: absolute;
      right: 160px;
      bottom:10;
      width: 1378px;
      height: 90%;
      background: rgba(255,246,126,0.2);
      background-blend-mode: normal;
      box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }
    
    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
        text-align: center;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    label {
        display: block;
        font-weight: bold;
    }
    
    input[type="file"] {
        display: none;
    }
    
    .upload-btn {
        display: inline-block;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .upload-btn:hover {
        background-color: #0056b3;
    }
    
    button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #FFECB3;
        color:black;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    button:hover {
        background-color: #FFC107;
    }
    